<ion-view view-title="Find a highly rated movie on IMDB!">
  <ion-content>
    <br>
   <!--  <input ng-model="search" placeholder="Year ex. '1960'"></input>
    <button class="button" ng-click="add(search)">Submit</button> -->
    <div>Name: {{name}}</div>
    <div>Year: {{year}}</div>
    <div>Actors: {{actors}}</div>
    <div>Rating: {{rating}}</div>
    <div>Awards: {{awards}}</div>
    <div>Votes: {{votes}}</div>
    <div>Plot: {{plot}}</div>
    <div class="row row responsive-sm">
      <img class= "col" src="{{poster}}"></img>
    </div>
    <button ng-click="getMovie()" class="button button-full button-positive">Search!  Click once and wait!</button>
  </ion-content>
</ion-view>
