<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Netflix Roulette Tab -->
  <ion-tab title="Roulette" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/roulette">
    <ion-nav-view name="tab-roulette"></ion-nav-view>
  </ion-tab>

  <!-- TMDb Tab -->
  <ion-tab title="TMDb" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/tmdb">
    <ion-nav-view name="tab-tmdb"></ion-nav-view>
  </ion-tab>

  <!-- OMDB Tab -->
  <ion-tab title="OMDB" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/omdb">
    <ion-nav-view name="tab-omdb"></ion-nav-view>
  </ion-tab>

  <!-- New York Times Review Tab -->
  <ion-tab title="NYT Review" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/nytr">
    <ion-nav-view name="tab-nytr"></ion-nav-view>
  </ion-tab>

</ion-tabs>


